{% load static i18n extra %}
<div class="row align-items-center py-4">
    <div class="col-lg-8 col-8">
        <h6 class="h2 d-inline-block mb-0 mr-5">{{meta_title}}</h6>
    </div>
    <div class="col-lg-4 col-4 text-right">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a href="{% url 'web:manage_web' %}" class="btn btn-outline-primary">
                Web
            </a>
            <a href="{% url 'web:manage_all_terms' %}" class="btn btn-outline-primary">
                Terms
            </a>
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                Create Email
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li>
                    <a href="{% url 'web:create_email_engagement' %}" class="dropdown-item">
                        Manually
                    </a>
                </li>
                <li>
                    {% open_modal "web:automatic_creation_newsletter" "Automatically" %}
                </li>
            </ul>
        </div>
    </div>
</div>