interactions:
- request:
    body: message=El+price+to+book+compara+el+precio+de+mercado+de+una+empresa+con+su+valor+en+libros%2C+que+muestra+esencialmente+el+valor+dado+por+el+mercado+por+cada+d%C3%B3lar+del+patrimonio+neto+de+la+compa%C3%B1%C3%ADa.%0A%0A++++++++M%C3%A1s+en+http%3A%2F%2Fexample.com%3A8000%2Fdefinicion%2Fprecio-valor-en-libros%2F%3Futm_source%3Dfacebook%26utm_medium%3Dfacebook%26utm_campaign%3Dpost-shared-auto%26utm_term%3DPrecio+valor+contable+%28P%2FB%29%0A++++++++%0A++++++++Visita+nuestras+redes+sociales%3A%0A++++++++Facebook%3A+https%3A%2F%2Fwww.facebook.com%2FInversionesyFinanzas%2F%0A++++++++Instagram%3A+https%3A%2F%2Fwww.instagram.com%2Finversiones.finanzas%2F%0A++++++++TikTok%3A+https%3A%2F%2Fwww.tiktok.com%2F%40inversionesyfinanzas%3F%0A++++++++Twitter+%3A+https%3A%2F%2Ftwitter.com%2FInvFinz%0A++++++++LinkedIn+%3A+https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Finversiones-finanzas%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++.%0A++++++++valueinvesting%0A++++++++&title=Precio+valor+contable+%28P%2FB%29&link=http%3A%2F%2Fexample.com%3A8000%2Fdefinicion%2Fprecio-valor-en-libros%2F%3Futm_source%3Dfacebook%26utm_medium%3Dfacebook%26utm_campaign%3Dpost-shared-auto%26utm_term%3DPrecio+valor+contable+%28P%2FB%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://graph.facebook.com/105836681984738/feed
  response:
    body:
      string: '{"id":"105836681984738_163531659548573"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      facebook-api-version:
      - v12.0
      x-business-use-case-usage:
      - '{"105836681984738":[{"type":"pages","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    status:
      code: 200
      message: OK
version: 1
