{% load static i18n extra %}
<div class="modal-content">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-title-notification">Añade una red social</h6>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="col-12 mt-4">
            <a href="{{facebook_auth}}" target="_blank" class="btn btn-facebook btn-icon-only rounded-circle">
                <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
            </a>
            <!-- <a href="" target="_blank" class="btn btn-twitter btn-icon-only rounded-circle">
                        <span class="btn-inner--icon"><i class="fab fa-twitter"></i></span>
                    </a>
                    <a href="" target="_blank" class="btn btn-youtube btn-icon-only rounded-circle">
                        <span class="btn-inner--icon"><i class="fab fa-reddit"></i></span>
                    </a>
                    <a href="" target="_blank" class="btn btn-facebook btn-icon-only rounded-circle">
                        <span class="btn-inner--icon"><i class="fab fa-linkedin"></i></span>
                    </a>
                    <a href="" target="_blank" class="btn btn-slack btn-icon-only rounded-circle">
                        <span class="btn-inner--icon"><i class="fab fa-whatsapp"></i></span>
                    </a> -->
        </div>
    </div>
</div>