{% include "modals/become_writter.html" %}
{% include "modals/rep_explanation.html" %}
{% include "modals/credits_explanation.html" %}
{% include "modals/user_required.html" %}
{% include "modals/api_key.html" %}

<div class="modal fade" id="SharedModal" tabindex="-1" role="dialog" aria-labelledby="SharedModalLabel"
    aria-hidden="true">
    <div id="SharedModalDialog" hx-target="this" class="modal-dialog modal-info modal-lg modal-dialog-centered modal-"
        role="document">
    </div>
</div>

<script>
    ; (function () {
        const modal = new bootstrap.Modal(document.getElementById("SharedModal"))

        htmx.on("htmx:afterSwap", (e) => {
            // Response targeting #dialog => show the modal
            if (e.detail.target.id == "SharedModalDialog") {
                modal.show()
            }
        })

        htmx.on("htmx:beforeSwap", (e) => {
            // Empty response targeting #dialog => hide the modal
            if (e.detail.target.id == "SharedModalDialog" && !e.detail.xhr.response) {
                modal.hide()
                e.detail.shouldSwap = false
            }
        })

        // Remove dialog content after hiding
        htmx.on("hidden.bs.modal", () => {
            document.getElementById("SharedModalDialog").innerHTML = ""
        })
    })()
</script>