{% load static %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link type="text/css" href="{% static 'general/assets/vendor/prismjs/themes/prism.css' %}" rel="stylesheet">

<!-- Front CSS -->
<link type="text/css" href="{% static 'web_principal/css/front.css' %}" rel="stylesheet">