<div class="accordion mt-1" id="accordion-{{object_name}}-{{object.id}}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{object_name}}-{{object.id}}">
            <button style="padding: 10px;" class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-{{object_name}}-{{object.id}}" aria-expanded="true"
                aria-controls="collapse-{{object_name}}-{{object.id}}">
                <i style=" font-size: 16px;" class="far fa-comment me-1"></i> Comentarios
            </button>
        </h2>
        <div id="collapse-{{object_name}}-{{object.id}}" class="accordion-collapse"
            aria-labelledby="heading-{{object_name}}-{{object.id}}"
            data-bs-parent="#accordion-{{object_name}}-{{object.id}}">
            <div class="row">
                <div class="panel panel-default widget">
                    <div class="panel-body">
                        <ul class="list-group">
                            {% if user.is_authenticated%}
                            <li style="text-align: center;" class="list-group-item">
                                <form method="POST"
                                    action="{% url 'general:create_comment_view' object.encoded_url_comment %}">
                                    {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <input type="text" name="comment_content" class="form-control"
                                            placeholder="{{help_text}}" aria-label="{{help_text}}"
                                            aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-twitter" type="submit"
                                                id="button-addon2">Publicar</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            {% else %}
                            <li style="text-align: center;" class="list-group-item">
                                <div class="input-group mb-3">
                                    <input type="text" name="comment_content-{{object.id}}" class="form-control"
                                        placeholder="{{help_text}}" aria-label="{{help_text}}"
                                        aria-describedby="button-addon3">
                                    <div class="input-group-append">
                                        <button class="btn btn-twitter" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" type="button"
                                            id="button-addon3">Publicar</button>
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                            {% for object_comment in object.related_comments %}
                            <li class="list-group-item" style="font-size: 11px;">

                                <div>
                                    <div class="mic-info">
                                        Por: <a href="{{object_comment.author.custom_url}}">
                                            {{object_comment.author.username}}
                                        </a>
                                        {{object_comment.created_at}}
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{object_comment.content}}
                                </div>
                            </li>
                            {% endfor%}
                            <div id="q_com"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>